<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wellcome</title>

</head>
<body>
    
 <md-toolbar>
      <div class="md-toolbar-tools">
       
        <h2>
          <span>MEAN Stack Sales App</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Learn More" ui-sref="signin">
          Login
        </md-button>
        <md-button class="md-raised" aria-label="Learn More" ui-sref="signup">
          Sign up
        </md-button>
      </div>
    </md-toolbar>
<md-content flex layout-padding>
  
     <md-card style="width: 535px;margin-left: 294px;margin-top: 132px;">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Sales Managment</span>
            <span class="md-subhead">Our Sales Man</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>

          </md-card-title-media>

        </md-card-title>

        <md-card-actions layout="row" layout-align="end center">
                               <img src="./images/sales.jpg" alt="Images not avalible">
        </md-card-actions>
        <md-card-actions>
          <md-button class=" md-raised md-primary">Learn More</md-button>
          <md-button class="md-raised md-warn">Contact us</md-button>
        </md-card-actions>
      </md-card>
      
</md-content>


</body>
 <footer class="footer-distributed">

                <div class="footer-left">

                    <h3>Sales <span> Management App</span></h3>



                </div>

                <div class="footer-center">

                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>Ramsha Enterprises </span> Clifton</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>09007802 (5 lines)</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:info@saylaniwelfare.com">info@sales.com</a></p>
                    </div>

                </div>

                <div class="footer-right">

                    <p class="footer-company-about">
                        <span>About the Developer</span>
                        Ghayyas Mubashir is Young Energatic Mobile and Web Application Developer. He is Studing Software Engineering From Virtual Universtiy and Also Taking Course of Mobile and Web Application Development Under the Supervison of Sir Zia Khan(Microsoft Most valuable Professional) At Saylani Welfare International
                    </p>


                    <div class="footer-icons">

                        <a href="https://www.facebook.com/ghayyas94" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.twitter.com/mubashirghayyas" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.github.com/ghayyas" target="_blank"><i class="fa fa-github"></i></a>

                    </div>

                </div>
                <p class="footer-company-name" >Copyright &copy; 2016</p>
            </footer>
</html>