<div>
    <h1>This is my Dashboard page</h1>
    <h2>{{user.Name}}</h2>
    <i>Your Email is {{user.Email}}</i>
    <h3>{{user.UserName}}</h3>
    
    {{Welcome}}
    
    <button ng-click="logOut()">Click here to Log Out</button>
    <button ui-sref="company">Go to Company page </button>
    <!--<button ng-click="gotoCompany()">click here to go</button>-->
    <button ui-sref="salesMan">add sales Man</button>
    <button ui-sref="companylist">Show My Company</button>
    <button ui-sref="salesmanlist">Show My Sales Man</button>
</div>