<html>
	<title>
		Sign Up Page
	</title>
	<head>
	</head>
	<body>
		<form ng-submit="send()">
		<input type="text" placeholder="Enter your Name" name="yourName" ng-model="user.firstName">
		<input type="text" placeholder="Enter your User Name" name="user_name" ng-model="user.lastName">
		<input type="password" placeholder="Enter your Password" name="password" ng-model="user.password">
		<input type="password" placeholder="Enter your Passoword Again" name="repeatpass" ng-model="user.password2">
		<input type="radio" name="gender" value="male" ng-model="user.gender">Male
		<input type="radio" name="gender" value="female" ng-model="user.gender">female
		<input type="submit" value="sign Up">
		</form>		
		</body>
		
</html>