<html>
	<title>
		Sign Up Page
	</title>
	<head>
	</head>
	<body>
		<form action="/save" method="post">
		<input type="text" placeholder="Enter your Name" name="yourName">
		<input type="text" placeholder="Enter your User Name" name="user_name">
		<input type="password" placeholder="Enter your Password" name="password">
		<input type="password" placeholder="Enter your Passoword Again" name="repeatpass">
		<input type="radio" name="gender" value="male">Male
		<input type="radio" name="gender" value="female">female
		<input type="submit" value="sign Up">
		</form>		
		</body>
		
</html>